<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.mokwon.javaspring.web.front.template.dao.FrontTemplateDAO">
	<select id="selectTemplateList" parameterType="Map" resultType="Map">
        <!-- SELECT 쿼리문 작성 -->
		SELECT *
		  FROM test
	</select>

	<select id="selectOneTemplate" parameterType="Map" resultType="Map">
        <!-- SELECT 쿼리문 작성 -->
		SELECT `num`, `name`
		  FROM test
		 WHERE num = #{num}
	</select>


	<insert id="insertTemplateData" parameterType="Map">
		<!-- Insert 쿼리문 작성 -->
		INSERT INTO test(`name`)
		VALUES (#{name})
	</insert>

	<update id="updateTemplateData" parameterType="Map">
		<!-- Update 쿼리문 작성 -->
		UPDATE test
		   SET `name` = #{name}
		 WHERE num = #{num}
	</update>

	<delete id="deleteTemplateData" parameterType="Map">
		<!-- Delete 쿼리문 작성 -->
		DELETE
		  FROM test
		 WHERE num = #{num}
	</delete>
</mapper>