@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:400;
    format('embedded-opentype'),
    src:url('fonts/NotoSansKR-Regular.woff') format('woff'),
    src:url('fonts/NotoSansKR-Regular.woff2') format('woff2'),
    src:url('fonts/NotoSansKR-Regular.otf') format('opentype')
}

html, body {overflow-y:auto}

.mdc-icon-button__icon{vertical-align:top!important}

