.paper-container {
    padding: 36px 18px;
    background-color: var(--mdc-theme-background, #f8f8f8);
    transition: 400ms ease;
    /*border: 1px solid var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.1));*/
}

.paper-demo{
    transition: 400ms ease;
}

* :global(.paper-demo) {
    margin: 0 auto;
    max-width: 600px;
}